a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

input, textarea, select {
  outline: none;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  padding: 0;
  margin: 0;
  border: none;
}

:root {}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, img, small, strike, strong, b, i, ol, ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0;
  font: inherit;
  vertical-align: baseline;
  -webkit-text-size-adjust: none;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}

li, form, label, table, tbody, tfoot, thead, tr, th, td, canvas, footer, header, menu, nav, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 0;
  font: inherit;
  vertical-align: baseline;
  -webkit-tap-highlight-color: transparent;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0 auto;
  padding: 0;
  font-size: 0;
  background: #080E24;
  color: #000000;
  text-align: center;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

body {
  min-height: 100vh;
  width: auto;
  background: #EDE9E6 url(./../images/background.png) no-repeat center top / 112%;
  overflow: hidden;
  overflow-y: scroll;
}

.gradient {
  background: linear-gradient(135deg, #4C372B 0%, #715240 33.33%, #A57A61 64.58%, #9A7962 100%);
}

.body {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  height: 100vh;
}

.logo {
  width: 100px;
  height: 100px;
  display: block;
}

.menu, .dataHome, .data {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.data {
  display: block;
}

.menu {
  align-items: center;
}

.button {
  width: fit-content;
  font-family: 'Avenir_Bold';
  font-size: 16px;
  font-style: normal;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFFFF;
  padding: 12px 20px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.backBlock {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: fit-content;
}

.back {
  width: 28px;
  height: 28px;
  border-radius: 100px;
  display: inline-block;
  vertical-align: top;
  margin-right: 12px;
}

.back img {
  width: 28px;
  height: 28px;
  display: block;
}

.backBlock p {
  font-family: 'Avenir_DemiBold';
  font-size: 16px;
  font-style: normal;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  display: inline-block;
  vertical-align: top;
  padding-right: 12px;
}

.backBlock::after {
  content: '';
  position: absolute;
  width: 28px;
  height: 28px;
  left: 0;
  top: 0;
  border-radius: 100px;
  background: linear-gradient(135deg, #4C372B 0%, #715240 33.33%, #A57A61 64.58%, #9A7962 100%);
  z-index: -1;
  transition: 0.3s;
}

.backBlock:hover::after {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 3px;
}

.backBlock:hover .back {
  background: transparent !important;
}

.backBlock:hover p {
  color: #FFFFFF;
}

.textBlock {
  margin: 30px 0 30px;
  max-width: 898px;
  width: 100%;
}

.textHr {
  display: block;
  height: 8px;
}

.textCaption {
  font-family: 'Avenir_DemiBold';
  font-size: 20px;
  font-style: normal;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}

.textBold {
  font-family: 'Avenir_DemiBold';
  font-size: 16px;
  font-style: normal;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #6D4F3E;
}

.text {
  font-family: 'Avenir_Regular';
  font-size: 16px;
  font-style: normal;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}

.textLink {
  font-family: 'Avenir_DemiBold';
  font-size: 16px;
  font-style: normal;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #BEA08F;
  text-decoration: underline;
  vertical-align: top;
}

.textLink img {
  width: 22px;
  height: 22px;
  margin-left: 4px;
  vertical-align: inherit;
  transition: 0.3s;
}

.textLink:hover img {
  box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.75);
}

.shadowMobile {
  display: none;
}

.attention {
  font-family: 'Avenir_DemiBold';
  font-size: 16px;
  font-style: normal;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  vertical-align: top;
  max-width: 898px;
  width: 100%;
}

.attention img {
  width: 16px;
  height: 16px;
  margin-top: 3px;
  margin-right: 4px;
  vertical-align: inherit;
}

.enterButton {
  font-family: 'Avenir_Bold';
  font-size: 16px;
  font-style: normal;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFFFFF;
  padding: 12px 20px;
  display: block;
  max-width: 120px;
  width: fit-content;
  margin-top: 48px;
  position: relative;
  transition: 0.3s;
  margin-left: 8px;
}

.enterButton:hover {
  box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.75);
}

.enterBorders {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.enterBorderLeftTop {
  width: 38px;
  height: 8px;
  border-left: 4px solid transparent;
  border-top: 4px solid transparent;
  position: absolute;
  left: -8px;
  top: -8px;
  border-image-slice: 1;
  border-image-source: linear-gradient(135deg, #4C372B 0%, #715240 33.33%, #A57A61 64.58%, #9A7962 100%);
}

.enterBorderRightBottom {
  width: 12px;
  height: 24px;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  position: absolute;
  right: -8px;
  bottom: -8px;
  border-image-slice: 1;
  border-image-source: linear-gradient(135deg, #4C372B 0%, #715240 33.33%, #A57A61 64.58%, #9A7962 100%);
}

.rules {
  font-size: 12px;
}

.videoBlock {
  max-width: 540px;
  height: auto;
  margin: 60px auto 30px;
  position: relative;
  cursor: pointer;
}

.video {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 1440px) {}

@media only screen and (max-width: 1290px) {}

@media only screen and (max-width: 1024px) {}

@media only screen and (max-width: 868px) {
  .menu, .data {
    padding: 0 20px;
  }

  body {
    background-size: 250%;
  }

  .videoBlock {
    max-width: 436px;
  }
}

@media only screen and (max-width: 725px) {}

@media only screen and (max-width: 668px) {
  .enterBorderLeftTop {
    border-left: 2px solid transparent;
    border-top: 2px solid transparent;
    left: -6px;
    top: -6px;
  }

  .enterBorderRightBottom {
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
    right: -6px;
    bottom: -6px;
  }

  .enterButton {
    margin-left: 7px;
    margin-top: 30px;
  }

  .logo {
    width: 64px;
    height: 64px;
  }

  .shadowMobile {
    display: block;
    width: 100%;
    height: 320px;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(#EDE9E6, rgba(237, 233, 230, 0));
    z-index: -1;
  }

  .menu, .data {
    padding: 0 10px;
  }

  .textBlock {
    margin: 24px auto;
  }

  .backBlock p {
    font-size: 14px;
  }

  .text, .attention, .textBold {
    font-size: 14px;
  }

  .textCaption {
    font-size: 18px;
  }

  body {
    background-size: 600%;
  }

  .textLink img {
    width: 20px;
    height: 20px;
    margin-top: 1px;
  }

  .videoBlock {
    margin: 41px auto;
  }

  .videoBlockOuther {
    padding: 0 10px;
  }
}
