.dataVideo {
  max-width: 740px;
  height: auto;
  margin-left: 20px;
  margin-top: 30px;
  position: relative;
}

.dataRight {
  width: calc(29.999% + 20px);
}

.video {
  width: 100%;
  height: auto;
}

.dataTimetable {
  max-width: 740px;
  margin-left: 20px;
}

.timetableStyle {
  width: 74px;
  height: auto;
  display: block;
  margin: 8px auto 0;
}

.timetable {
  max-width: 760px;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 30px;
}

.timetableItem {
  width: 182px;
  margin-bottom: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(transparent, transparent);
  transition: background 0.5s ease;
  position: relative;
}

.timetableItem::after {
  content: '';
  position: absolute;
  width: 36px;
  height: 36px;
  left: 0;
  top: 0;
  border-radius: 100px;
  background: linear-gradient(135deg, #4C372B 0%, #715240 33.33%, #A57A61 64.58%, #9A7962 100%);
  z-index: -1;
  transition: 0.3s;
}

.timetableItem:hover::after {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 3px;
}

.timetableItem:hover .icon {
  background: transparent !important;
}

.timetableItem:hover p {
  color: #FFFFFF;
}

.icon {
  width: 36px;
  height: 36px;
  border-radius: 100px;
  margin-right: 18px;
  display: inline-block;
  vertical-align: top;
}

.icon img {
  width: 24px;
  height: 24px;
  margin-left: 6px;
  margin-top: 6px;
  display: block;
}

.timetableItem p {
  width: 128px;
  font-family: 'Avenir_DemiBold';
  font-size: 15px;
  font-style: normal;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #595959;
  display: inline-block;
  vertical-align: top;
}

.menuIcon, .menuBlock {
  display: none;
}

.menuBlock .timetableItem {
  width: 100%;
}

.menuBlock .timetableItem p {
  width: auto;
}

.menuTopActivated {
  position: fixed;
  z-index: 100;
  background: #E7D8CE;
  width: 100%;
  box-sizing: border-box;
}

.menuBottomActivated {
  display: block;
  position: fixed;
  z-index: 100;
  background: #E7D8CE;
  width: 100%;
  height: calc(100% - 99px);
  box-sizing: border-box;
  padding: 20px;
  top: 99px;
  overflow: hidden;
  overflow-y: scroll;
}

@media only screen and (max-width: 1320px) {
  .dataVideo, .dataTimetable, .timetable {
    max-width: 600px;
  }

  .timetableItem p {
    width: 115px;
    font-size: 15px;
  }

  .icon {
    margin-right: 8px;
  }

  .timetableItem {
    width: 160px;
  }
}

@media only screen and (max-width: 1180px) {
  .dataVideo, .dataTimetable, .timetable {
    max-width: 500px;
  }
}

@media only screen and (max-width: 970px) {
  .dataVideo, .dataTimetable, .timetable {
    max-width: 400px;
  }
}

@media only screen and (max-width: 868px) {
  .dataRight {
    width: auto;
  }

  .menu {
    padding: 0 20px;
  }

  .dataTimetable, .timetable {
    display: none;
  }

  .dataVideo {
    max-width: none;
    width: 100%;
    margin: 32px auto;
  }

  .dataHome {
    flex-direction: column;
  }

  .menuIcon {
    display: block;
    border-radius: 100px;
    width: 64px;
    height: 64px;
  }

  .menuIcon img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 668px) {
  .menuBottomActivated {
    height: calc(100% - 63px);
    top: 63px;
    padding: 10px;
  }

  .menu {
    padding: 0 10px;
    /* background: #E7D8CE; */
  }

  .menuIcon {
    width: 48px;
    height: 48px;
  }

  .dataHome {
    padding: 0 20px;
  }

  .dataVideo {
    margin: 22px auto 0;
  }
}
