.textBlock {
  margin: 30px 0 16px;
}

@media only screen and (max-device-width: 868px) {
  .textBlock {
    max-width: 538px;
  }
}

@media only screen and (max-device-width: 668px) {
  .textBlock {
    max-width: 100%;
    margin: 24px auto 16px;
  }
}
